.btn {
    border: none;
    color: inherit;
    cursor: pointer;
    font-size: 1.5rem;
    border-radius: 5px;
    font-family: inherit;
    padding: 0.8rem 1.6rem;
    text-transform: uppercase;
}

.primary {
    font-weight: 700;
    color: var(--color-dark--1);
    background-color: var(--color-brand--2);
}

.back {
    background: none;
    font-weight: 600;
    border: 1px solid currentColor;
}

.position {
    position: absolute;
    bottom: 4rem;
    left: 50%;
    z-index: 1000;

    font-weight: 700;
    font-size: 1.4rem;
    color: var(--color-dark--1);
    transform: translateX(-50%);
    background-color: var(--color-brand--2);
    box-shadow: 0 0.4rem 1.2rem rgba(36, 42, 46, 0.16);
}
