.form {
    width: 100%;
    padding: 2rem 3rem;
    border-radius: 7px;
    background-color: var(--color-dark--2);

    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.row {
    position: relative;

    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.flag {
    position: absolute;
    right: 1rem;
    top: 2.7rem;

    font-size: 2.8rem;
}

.form.loading {
    opacity: 0.3;
}

.form.loading button {
    pointer-events: none;
    color: var(--color-dark--0);
    border: 1px solid var(--color-light--1);
    background-color: var(--color-light--1);
}

:global(.react-datepicker) {
    font-size: 1.2rem;
    font-family: inherit;
}
