.user {
    position: absolute;
    right: 4.2rem;
    top: 4.2rem;
    z-index: 999;

    font-weight: 600;
    font-size: 1.6rem;
    border-radius: 7px;
    padding: 1rem 1.4rem;
    background-color: var(--color-dark--1);
    box-shadow: 0 0.8rem 2.4rem rgba(36, 42, 46, 0.5);

    display: flex;
    align-items: center;
    gap: 1.6rem;
}

.user img {
    height: 4rem;
    border-radius: 100px;
}

.user button {
    border: none;
    color: inherit;
    cursor: pointer;
    font-weight: 700;
    font-size: 1.2rem;
    border-radius: 7px;
    font-family: inherit;
    padding: 0.6rem 1.2rem;
    text-transform: uppercase;
    background-color: var(--color-dark--2);
}
