.cityItem,
.cityItem:link,
.cityItem:visited {
    display: flex;
    align-items: center;
    gap: 1.6rem;

    color: inherit;
    cursor: pointer;
    padding: 1rem 2rem;
    border-radius: 7px;
    text-decoration: none;
    background-color: var(--color-dark--2);
    border-left: 5px solid var(--color-brand--2);
}

.cityItem--active {
    border: 2px solid var(--color-brand--2);
    border-left: 5px solid var(--color-brand--2);
}

.emoji {
    line-height: 1;
    font-size: 2.6rem;
}

.name {
    font-weight: 600;
    font-size: 1.7rem;
    margin-right: auto;
}

.date {
    font-size: 1.5rem;
}

.deleteBtn {
    height: 2rem;
    border: none;
    aspect-ratio: 1;
    cursor: pointer;
    font-weight: 400;
    font-size: 1.6rem;
    border-radius: 50%;
    transition: all 0.2s;
    color: var(--color-light--2);
    background-color: var(--color-dark--1);

    &:hover {
        color: var(--color-dark--1);
        background-color: var(--color-brand--1);
    }
}
