.countryList {
    width: 100%;
    height: 65vh;
    list-style: none;
    overflow-y: scroll;
    overflow-x: hidden;

    display: grid;
    align-content: start;
    grid-template-columns: 1fr 1fr;
    gap: 1.6rem;
}
