.countryItem {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0.2rem;

    font-weight: 600;
    font-size: 1.7rem;
    padding: 1rem 2rem;
    border-radius: 7px;
    background-color: var(--color-dark--2);
    border-left: 5px solid var(--color-brand--1);
}

.countryItem span:first-child {
    line-height: 1;
    font-size: 3rem;
}
