.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav ul {
    list-style: none;

    display: flex;
    align-items: center;
    gap: 4rem;
}

.nav a:link,
.nav a:visited {
    font-weight: 600;
    font-size: 1.5rem;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--color-light--2);

    &:global(.active) {
        color: var(--color-brand--2);
    }
}

a.ctaLink:link,
a.ctaLink:visited {
    border-radius: 7px;
    padding: 0.8rem 2rem;
    color: var(--color-dark--0);
    background-color: var(--color-brand--2);
}
