.sidebar {
    flex-basis: 56rem;
    height: calc(100vh - 4.8rem);
    padding: 3rem 5rem 3.5rem 5rem;
    background-color: var(--color-dark--1);

    display: flex;
    align-items: center;
    flex-direction: column;
}

.footer {
    margin-top: auto;
}

.copyright {
    font-size: 1.2rem;
    color: var(--color-light--1);
}
