.product {
    margin: 2.5rem;
    padding: 2.5rem 5rem;
    min-height: calc(100vh - 5rem);
    background-color: var(--color-dark--1);
}

.product section {
    display: grid;
    margin: 6rem auto;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    width: clamp(80rem, 80%, 90rem);
    gap: 7rem;
}

.product img {
    width: 100%;
}

.product h2 {
    font-size: 4rem;
    line-height: 1.2;
    margin-bottom: 3rem;
}

.product p {
    font-size: 1.6rem;
    margin-bottom: 2rem;
}

.product section a {
    margin-top: 2rem;
}
