@import 'https://unpkg.com/leaflet@1.9.4/dist/leaflet.css';
@import 'https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;700;800&display=swap';

:root {
    --color-brand--1: #ffb545;
    --color-brand--2: #00c46a;

    --color-dark--0: #242a2e;
    --color-dark--1: #2d3439;
    --color-dark--2: #42484d;

    --color-light--1: #aaa;
    --color-light--2: #ececec;
    --color-light--3: #d6dee0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    font-weight: 400;
    line-height: 1.6;
    color: var(--color-light--2);
    font-family: 'Manrope', sans-serif;
}

label {
    font-weight: 600;
    font-size: 1.6rem;
}

input,
textarea {
    width: 100%;
    border: none;
    font-size: 1.6rem;
    border-radius: 5px;
    transition: all 0.2s;
    font-family: inherit;
    padding: 0.8rem 1.2rem;
    background-color: var(--color-light--3);
}

input:focus {
    outline: none;
    background-color: #fff;
}

.cta:link,
.cta:visited {
    font-weight: 600;
    font-size: 1.6rem;
    padding: 1rem 3rem;
    border-radius: 5px;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--color-dark--1);
    background-color: var(--color-brand--2);
}
