.mapContainer {
    flex: 1;
    height: 100%;
    position: relative;
    background-color: var(--color-dark--2);
}

.map {
    height: 100%;
}

:global(.leaflet-popup .leaflet-popup-content-wrapper) {
    border-radius: 5px;
    padding-right: 0.6rem;
    color: var(--color-light--2);
    background-color: var(--color-dark--1);
}

:global(.leaflet-popup .leaflet-popup-content) {
    font-size: 1.5rem;

    display: flex;
    align-items: center;
    gap: 1rem;
}

:global(.leaflet-popup .leaflet-popup-content span:first-child) {
    line-height: 1;
    font-size: 2.5rem;
}

:global(.leaflet-popup .leaflet-popup-tip) {
    background-color: var(--color-dark--1);
}

:global(.leaflet-popup-content-wrapper) {
    border-left: 5px solid var(--color-brand--2);
}
