.homepage {
    margin: 2.5rem;
    padding: 2.5rem 5rem;
    height: calc(100vh - 5rem);

    background-image: linear-gradient(
            rgba(36, 42, 46, 0.8),
            rgba(36, 42, 46, 0.8)
        ),
        url('/bg.jpg');
    background-size: cover;
    background-position: center;
}

.homepage section {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2.5rem;

    height: 85%;
    text-align: center;
    justify-content: center;
}

.homepage h1 {
    line-height: 1.3;
    font-size: 4.5rem;
}

.homepage h2 {
    width: 90%;
    font-size: 1.9rem;
    margin-bottom: 2.5rem;
    color: var(--color-light--1);
}
